!pip install pyDOE

!pip install pyDOE2

In [1]:
import pyDOE3

In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

def ends(df, x=5):
    return pd.concat([df.head(x), df.tail(x)], axis=0)
setattr(pd.DataFrame,'ends',ends)

from pyDOE3 import fracfact, fullfact

### Full Factorial

In [5]:
a = ['1X', '2X']
b = ['2Y', '3Y', '4Y']
c = ['5Z', '6Z', '7Z']

ff=fullfact([2, 3, 3])
ff

array([[0., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 1., 0.],
       [0., 2., 0.],
       [1., 2., 0.],
       [0., 0., 1.],
       [1., 0., 1.],
       [0., 1., 1.],
       [1., 1., 1.],
       [0., 2., 1.],
       [1., 2., 1.],
       [0., 0., 2.],
       [1., 0., 2.],
       [0., 1., 2.],
       [1., 1., 2.],
       [0., 2., 2.],
       [1., 2., 2.]])

In [7]:
ff2 = pd.DataFrame(ff)
ff2.head()

     0    1    2
0  0.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0
3  1.0  1.0  0.0
4  0.0  2.0  0.0

In [9]:
for i,j in zip(range(3), [a,b,c]):
    for k in range(2*3*3):
        #print(k, i, j, j[int(ff[k,i])])
        ff2.iloc[k,i] = j[int(ff[k, i])]
        #print(ff[:,i])

In [11]:
ff2.head()

    0   1   2
0  1X  2Y  5Z
1  2X  2Y  5Z
2  1X  3Y  5Z
3  2X  3Y  5Z
4  1X  4Y  5Z

In [13]:
ff2.shape

(18, 3)

### Full Factorial - 2 levels

In [16]:
a=['1X', '2X']
b=['None', 'Extensive']
c=['1Y', '2Y']
d=['1Z', '2Z']

In [18]:
ff=fullfact([2, 2, 2, 2])
ff

array([[0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [1., 1., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 1., 0., 1.],
       [0., 0., 1., 1.],
       [1., 0., 1., 1.],
       [0., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [20]:
ff2 = pd.DataFrame(ff)
ff2.ends(2)

      0    1    2    3
0   0.0  0.0  0.0  0.0
1   1.0  0.0  0.0  0.0
14  0.0  1.0  1.0  1.0
15  1.0  1.0  1.0  1.0

In [22]:
for i,j in zip(range(4), [a,b,c,d]):
    for k in range(2*2*2*2):
        #print(k, i, j, j[int(ff[k,i])])
        ff2.iloc[k,i] = j[int(ff[k, i])]

In [24]:
ff2.head()

    0          1   2   3
0  1X       None  1Y  1Z
1  2X       None  1Y  1Z
2  1X  Extensive  1Y  1Z
3  2X  Extensive  1Y  1Z
4  1X       None  2Y  1Z

In [26]:
ff2.shape

(16, 4)

### Fractional Factorial (fracfact) - 2 levels

the number of factors: k = 4
• the fraction index: p = 1
• the number of runs (level combinations): N = 2421 = 8
• Construct 24−1 designs via “confounding” (aliasing)
– select 3 factors (e.g. A, B, C) to form a 23 full factorial (basic design)
– confound (alias) D with a high order interaction of A, B and C. For example,
D = ABC

In [29]:
frf=fracfact(gen='a b c abc')
frf2 = pd.DataFrame(frf)
frf2 = frf2.replace({-1:0})
frf = frf2.values
frf2

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  1.0
2  0.0  1.0  0.0  1.0
3  0.0  1.0  1.0  0.0
4  1.0  0.0  0.0  1.0
5  1.0  0.0  1.0  0.0
6  1.0  1.0  0.0  0.0
7  1.0  1.0  1.0  1.0

In [31]:
frf2.shape

(8, 4)

In [33]:
for i,j in zip(range(4), [a,b,c,d]):
    for k in range(8):
        frf2.iloc[k,i] = j[int(frf[k, i])]

frf2

    0          1   2   3
0  1X       None  1Y  1Z
1  1X       None  2Y  2Z
2  1X  Extensive  1Y  2Z
3  1X  Extensive  2Y  1Z
4  2X       None  1Y  2Z
5  2X       None  2Y  1Z
6  2X  Extensive  1Y  1Z
7  2X  Extensive  2Y  2Z

### PC Case - fractional factorial - gsd

GSD stands for Generalized Subset Designs. It's a generalization of traditional fractional factorial designs. GSDs are used for problems where factors can have more than two levels.

In [36]:
a=['1X', '2X', '3X']
b=['None', 'Limited', 'Extensive']
c=['Base', '20% Higher', '40% Higher']
d=['Compaq', 'Packard Bell', 'Toshiba']

In [38]:
ff=fullfact([3, 3, 3, 3])
ff2 = pd.DataFrame(ff)
ff2.head()

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0
2  2.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0
4  1.0  1.0  0.0  0.0

In [40]:
for i,j in zip(range(4), [a,b,c,d]):
    for k in range(3*3*3*3):
        #print(k, i, j, j[int(ff[k,i])])
        ff2.iloc[k,i] = j[int(ff[k, i])]

In [42]:
ff2

     0          1           2        3
0   1X       None        Base   Compaq
1   2X       None        Base   Compaq
2   3X       None        Base   Compaq
3   1X    Limited        Base   Compaq
4   2X    Limited        Base   Compaq
..  ..        ...         ...      ...
76  2X    Limited  40% Higher  Toshiba
77  3X    Limited  40% Higher  Toshiba
78  1X  Extensive  40% Higher  Toshiba
79  2X  Extensive  40% Higher  Toshiba
80  3X  Extensive  40% Higher  Toshiba

[81 rows x 4 columns]

In [44]:
import pyDOE3

levels = [3, 3, 3, 3]  # Three factors with 2, 3 or 4 levels respectively.
reduction = 4      # Reduce the number of experiment to approximately a third.

frf = pyDOE3.gsd(levels, reduction)
frf2 = pd.DataFrame(frf)

frf.shape

(20, 4)

In [46]:
import pyDOE3

levels = [3, 3, 3, 3]  # Three factors with 2, 3 or 4 levels respectively.
reduction = 4      # Reduce the number of experiment to approximately a third.

frf = pyDOE3.gsd(levels, reduction)
frf2 = pd.DataFrame(frf)

frf.shape

(20, 4)

In [48]:
frf2[:5]

   0  1  2  3
0  0  0  0  0
1  0  0  1  1
2  0  0  2  2
3  0  1  0  1
4  0  1  1  2

In [50]:
for i,j in zip(range(4), [a,b,c,d]):
    for k in range(20):
        #print(k, i, j, j[int(frf[k,i])])
        frf2.iloc[k,i] = j[int(frf[k, i])]

In [52]:
frf2.shape

(20, 4)

In [54]:
frf2.ends(2)

     0          1           2             3
0   1X       None        Base        Compaq
1   1X       None  20% Higher  Packard Bell
18  3X  Extensive  20% Higher  Packard Bell
19  3X  Extensive  40% Higher       Toshiba